:root {
  --light-cream: #f3eadb;
}
body{
  background-color: var(--light-cream);

}
.App {
  padding-top: 15px;
  padding-inline: 15px;
  align-self: center;
  width: 450px;
  margin: auto;
  overflow: hidden;
  background-color: var(--light-cream);
  height: 100%;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#game_title {
  font-size: 15px;
}

.title_wrapper {
  display: flex;
  align-items: center;
}

.timer_unit {
  font-size: 10px;
}
.timer_wrapper {
  display: flex;
  border: 2.5px solid black;
  border-radius: 5px;
  height: 58px;
  width: 154px;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
}

.timer {
  font-size: 30px;
}
.timer_row {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#ticker_id {
  font-size: 13px;
  float: right;
  margin-left: 10px;
  margin-right: 7px;
}
